div.container {
    max-width: 680px;
}

div.how-to {
    font-size: 12px;
}

.container code {
    display: inline-block;
    padding: 0 3px;
    background: rgba(0, 0, 0, 0.05) none repeat scroll 0% 0%;
    color: #000;
}

.container pre code {
    font-size: 12px;
    display: block;
    padding: 10px;
    background: rgba(0, 0, 0, 0.05) none repeat scroll 0% 0%;
}

h4 {
    margin-top: 30px;
}

img.about-img {
    width: 550px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}